* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
}

/* NAVBAR */
.navbar {
  position: fixed;
  margin-top: 30px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 300px;
  background: transparent;
  z-index: 1000;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 37px;
  color: #fff;
  cursor: pointer;
}

.logo img {
  padding: 5px;
  height: 120px;
}

.social-icons i {
  padding-left: 30px;
  font-size: 26px;
  cursor: pointer;
}

/* MENU LATERAL */
.side-menu {
  position: fixed;
  top: 0;
  left: -620px;
  width: 400px;
  height: 100vh;
  background: #e10600;
  transition: 0.3s ease;
  z-index: 1100;
  padding: 30px;
}

.side-menu.active {
  left: 0;
}

.side-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.side-menu-header img {
  height: 120px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.side-menu-nav a {
  display: block;
  margin-bottom: 25px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 1050;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}