* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 80px 300px;
  background: transparent;

  z-index: 1000;
}


.menu-btn {
  background: none;
  border: none;
  font-size: 36px;
  color: #ffffff;
  cursor: pointer;
}

.logo img {
  height: 120px;
  margin: 30px;
}

.social-icons {
  display: flex;
  align-items: center;
  column-gap: 28px;
}

.social-icons i {
  font-size: 26px;
  cursor: pointer;
}


/* MENU LATERAL */
.side-menu {
  position: fixed;
  top: 0;
  left: -400px;

  width: 400px;
  height: 100vh;

  background: #000000;
  padding: 30px;

  transition: 0.3s ease;
  z-index: 1100;
}

.side-menu.active {
  left: 0;
}

.side-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.side-menu-header img {
  height: 120px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

.side-menu-nav a {
  display: block;
  margin-bottom: 50px;

  font-family: 'Special Gothic Expanded One', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;

  color: #fff;
  text-decoration: none;
}
  
/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.6);

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;

  z-index: 1050;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* SLIDE */
.slider {
  margin: auto 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 1s;
}

.slide img {
  position: relative;
  width: 100%;
  transition: 2s;
}

.manual-navigation {
  position: absolute;
  width: 100%;
  height: 80%;
  margin-top: -0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

.navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.navigation-auto {
  position: absolute;
  width: 100%;
  height: 80%;
  margin-top: 392px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #FFF;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #FFF;
}

/* AGENDA */
.agenda-section {
  padding: 120px 0;

  background: #1f232b;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.agenda-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

/* Ícone */
.agenda-icon i {
  font-size: 26px;
  color: #e10600; /* vermelho destaque */
}

/* Título */
.agenda-title {
  font-family: 'Special Gothic Expanded One', sans-serif;
  font-size: 72px;
  font-weight: 900;
  letter-spacing: 4px;
  color: #ffffff;
}

/* Texto */
.agenda-empty {
  font-size: 16px;
  color: #cfd3da;
}

.main-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}
